<script type="text/javascript">
    $(function() {
        var converter = new Markdown.Converter();
        var $contentDiv = $('#markdown-content')
        $.get( '/content/' + $contentDiv.data('file') ,function(data) {
            $contentDiv.html(converter.makeHtml(data));
        });
        $('#contact-tab').addClass('active');
    });
</script>
<div style='padding-top: 70px;'>
<div id='markdown-content' data-file='contact.md'></div>
</div>
