<script type="text/javascript">
    $(function() {
        var converter = new Markdown.Converter();
        var $contentDiv = $('#markdown-content')
        $.get( 'content/' + $contentDiv.data('file') ,function(data) {
            $contentDiv.html(converter.makeHtml(data));
        });
        set_title_and_active_tab('<% project_name %>', '#contact-tab');
    });
</script>
<div style='padding-top: 70px;'>
  <div id='markdown-content' data-file='contact.md'></div>
</div>
